<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="JoeEBuilder"
         name="Joe-E Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.joe_e.eclipse.Builder">
         </run>
      </builder>
   </extension>
   <extension
         id="JoeENature"
         name="Joe-E Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.joe_e.eclipse.Nature">
         </run>
      </runtime>
      <builder
            id="org.joe_e.JoeEBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.jdt.core.IJavaProject"
            nameFilter="*"
            id="org.joe_e.toggleNature">
         <action
               class="org.joe_e.eclipse.ToggleNatureAction"
               enablesFor="+"
               id="org.joe_e.toggleNatureAction"
               label="Enable Joe-E Verifier"
               menubarPath="additions"
               state="false"
               style="toggle">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.jdt.core.IPackageFragment"
            nameFilter="*"
            id="org.joe_e.togglePackage">
         <action
               class="org.joe_e.eclipse.TogglePackageAction"
               enablesFor="+"
               id="org.joe_e.togglePackageAction"
               label="Joe-E Verify This Package"
               menubarPath="additions"
               state="false"
               style="toggle">
         </action>
         <!-- <filter
               name="projectNature"
               value="org.joe_e.JoeENature"/>
         <visibility>
             <objectClass name="org.eclipse.jdt.core.IPackageFragment" /> 
         </visibility> -->
      </objectContribution>
   </extension>
   <extension
         id="JoeEProblem"
         name="Joe-E Problem"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
   		 id="JoeEAnnotation"
   		 name="Joe-E Problem Annotation"
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
       <specification
             annotationType="JoeEError"
             symbolicIcon="error">
       </specification>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="2"
            markerType="JoeEProblem"
            name="JoeEError"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.joe_e.eclipse.Preferences"
            id="org.joe_e.eclipse.Preferences"
            name="Joe-E"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.joe_e.eclipse.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            adaptable="true"
            class="org.joe_e.eclipse.ProjectProperties"
            id="org.joe_e.projectPrefs"
            name="Joe-E"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject"/>
   </extension>

</plugin>
